.container
  %nav.navbar.navbar-default{:role => 'navigation'}
    .container-fluid
      .navbar-header
        %a.navbar-brand{:href=>'#'} Neiology
        =render 'search_form'
      .navbar-text.navbar-right
        =link_to '录入书籍', new_article_path, class: "navbar-link btn btn-success btn-lg", style:"color:#fff"
  .row
    %table.table.table-striped
      %caption 目录索引
      %thead
        %tr
          -@index_show_fields.each do |field|
            %th=@articles_field_names[field]
      %tbody
        -@articles.each do |article|
          %tr
            -@index_show_fields.each do |field|        
              - if field == 'options' then
                %td
                  =button_to '删除', article_path(article), method: :delete, data: { confirm: '确认删除?' }, form_class: 'rails-bs-btn-danger rails-bs-btn-sm'
                  =link_to '编辑', edit_article_path(article), class: "btn btn-primary btn-sm"
              - elsif field == 'site' then
                %td
                  %a{:href => article[field]}=article[field]
              - elsif field == 'title' then
                %td
                  %a{:href=>article_path(article)}=article[field]
              - else
                %td=article[field]
  .row
    = paginate @articles, :theme => 'twitter-bootstrap-3'



  